# API e Servidor
fastapi
uvicorn[standard]

# Machine Learning e Dados
tensorflow
scikit-learn
joblib

# Análise de Dados e yfinance
pandas
yfinance==0.2.36
curl_cffi==0.6.2
numpy

#metricas
prometheus-client
