# API e Servidor
fastapi
uvicorn[standard]

# Machine Learning e Dados
tensorflow
scikit-learn
joblib

# Análise de Dados e yfinance
pandas
yfinance>=0.2.50
numpy
requests
curl_cffi
multitasking

# Metricas
prometheus-client