# API e Servidor
fastapi
uvicorn[standard]

# Machine Learning e Dados
tensorflow
scikit-learn
joblib

# Análise de Dados e yfinance
pandas
yfinance>=0.2.40
numpy
requests

# Metricas
prometheus-client